<div class="wrapper">
  <div class="header-home">
    <app-navbar></app-navbar>
  </div>
  <div class="container mt-4">
    <h2>Lista de Materias</h2>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="nrc">
          <th mat-header-cell *matHeaderCellDef>NRC</th>
          <td mat-cell *matCellDef="let materia">{{ materia.nrc }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let materia">{{ materia.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="seccion">
          <th mat-header-cell *matHeaderCellDef>Sección</th>
          <td mat-cell *matCellDef="let materia">{{ materia.seccion }}</td>
        </ng-container>

        <ng-container matColumnDef="programa">
          <th mat-header-cell *matHeaderCellDef>Programa</th>
          <td mat-cell *matCellDef="let materia">{{ materia.programa }}</td>
        </ng-container>

        <ng-container matColumnDef="profesor">
          <th mat-header-cell *matHeaderCellDef> Profesor </th>
          <td mat-cell *matCellDef="let materia"> {{ materia.profesor }} </td>
        </ng-container>
        
        
      <div>
        <!-- Columna para editar -->
        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef>Actualizar</th>
          <td mat-cell *matCellDef="let materia" class="td-editar">
            <i class="bi bi-pencil-square" (click)="editMateria(materia.id)" style="cursor: pointer;"></i>
          </td>
        </ng-container>

        <!-- Columna para eliminar -->
        <ng-container matColumnDef="eliminar">
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let materia" class="td-eliminar" >
            <i class="bi bi-trash3-fill"  (click)="deleteMateria(materia.id)" style="cursor: pointer; color: red;"></i>
          </td>
        </ng-container>
      </div>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="dataSource.data.length"
                     [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 25]"
                     (page)="pageEvent($event)">
      </mat-paginator>
    </div>
  </div>
</div>
